<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12 no_pad" style="border-left:1px solid #e6e6e6; border-right:0px solid #e6e6e6;">
      <div class="section_top_img">
        <img src="/assets/about_top_img.jpg" class="img-responsive">
      </div>
    </div>
  </div>
</div>

<div class="container container_style">
  <div class="row" style="margin-top:40px; margin-bottom:40px;">
    <div class="col-sm-12 col-md-12 col-lg-12 no_pad">
      <div class="success_check"></div>
      <div class="success_head">Success!<br><span>Your Membership has been created.</span></div>
      <div class="success_body">Thank you for supporting EMLPO with your new membership. Please check your email for more information, or <a href="/contact">contact</a> a member of the executive committee if you have any questions. </div>
      <a href="/"><div class="success_body_btn">Return to EMLPO.ca</div></a
    </div>
  </div>

</div>
</div>

<div class="bot_tag_shell">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-12 no_pad">
        <div class="bot_tag_head">To receive the benefits <br class="visible-xs">of an EMLPO <br class="hidden-xs">membership, <br class="visible-xs"><span>sign up today!</span></div>
        <a href="/memberships"><div class="bot_tag_btn">Click here to sign up</div></a>
      </div>
    </div>
  </div>
</div>
