<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12 no_pad" style="border-left:1px solid #e6e6e6; border-right:0px solid #e6e6e6;">
      <div class="section_top_img">
        <img src="/assets/about_top_img.jpg" class="img-responsive">
      </div>
    </div>
  </div>
</div>

<div class="container container_style">
  <div class="row" style="margin-top:40px; margin-bottom:40px;">
    <div class="col-sm-12 col-md-12 col-lg-12 no_pad">
      <div class="about_head">
        Letter from the <span>President</span>
      </div>
      <div class="about_body">
        Welcome to the newly-formed Eagle Moose Lake Association.  At the meeting held May 21 at Sir Sam’s Ski Hill, property owners were welcomed by Armin Weber and heard messages from Reeve Murray Fearrey and Councillor Walt McKechnie.  Paul MacInnes, Chair of the Coalition of Haliburton Property Owners’ Association (COHPOA), spoke about the importance of having an association, and outlined the environmental threats and challenges facing our lakes.  Paul also reported on the many research steps that are being taken to better understand the challenges in order that effective solutions can be put in place. Paul also talked about the Shoreline Classification and Restoration Project, also known as Love Your Lake, carried out under the auspices of the CHA.
<br><br>
The Love Your Lake process will involve two evaluators who will survey each property from a boat in the lake.  A team of volunteers will be needed to coordinate the project, provide boats, accommodation and office space with internet connection.  The study results will be mailed to each property owner and will provide information on how to protect shorelines and water quality. More information is available on the COHPOA website, cohpoa.org.
<br><br>

Michael Tatham drafted a “working” mission/purpose statement for the proposed association:
<br><br>
<i>The Association would drive the preservation of our lakes and, to that end, will communicate to and educate members related to the environmental (water quality) and recreational/social interests of Eagle and Moose Lake property owners.</i>
<br><br>
Those in attendance voted overwhelmingly to form the association and the first thirty-two members joined.  Applications to join CHA and enrol in the Love Your Lake project have been completed. Many of those at the meeting expressed interest in helping on various committees, including membership, communications, bylaws and social.  At the moment, Membership is the current focus, with a suggested annual membership fee of $40.
<br><br>
I think we would all agree that protecting our lakes is critical to our environmental and economic health.  We hope that all of you will join the Eagle Moose Lake Property Owners Association and help us protect these priceless resources.  A Membership application is attached for your consideration.
<br><br>
We hope to see you at the next association meeting to be held on Saturday, July 30 at Sir Sam’s Ski & Bike at 10:30 am.
<br><br>
<b>Enjoy your summer!
<br>
Laurel McCauley, President</b>


      </div>
    </div>
  </div>

</div>


<div class="bot_tag_shell">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-12 no_pad">
        <div class="bot_tag_head">To receive the benefits <br class="visible-xs">of an EMLPO <br class="hidden-xs">membership, <br class="visible-xs"><span>sign up today!</span></div>
        <a href="/memberships"><div class="bot_tag_btn">Click here to sign up</div></a>
      </div>
    </div>
  </div>
</div>
