<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12 no_pad" style="border-left:1px solid #e6e6e6; border-right:0px solid #e6e6e6;">
      <div class="section_top_img">
        <img src="/assets/about_top_img.jpg" class="img-responsive">
      </div>
    </div>
  </div>
</div>

<div class="container container_style">
  <div class="row" style="margin-top:40px; margin-bottom:40px;">
    <div class="col-sm-12 col-md-12 col-lg-12 no_pad">
      <div class="about_head">
        Letter from the <span>President</span>
      </div>
      <div class="about_body">
        <div class="letter_grey_shell">
          <div class="letter_grey_head">Mission <span>Statement</span></div>
          <div class="letter_grey_body">
            The EMLPOA advocates for the preservation of our lakes. The association will communicate to and educate members related to the sustainable lake environment and enjoyment of Eagle and Moose Lakes.
          </div>
        </div>

          Property owners who attended the meeting May 21 at Sir Sam’s Ski & Bike voted overwhelmingly to form the <b>EAGLE MOOSE LAKE PROPERTY OWNERS ASSOCIATION</b> and we were delighted to welcome the first thirty-two members.  Dysart et al Reeve Murray Fearrey and Councillor Walt McKechnie voiced their support and Paul MacInnes, Chair of the Coalition of Haliburton Property Owners’ Association (CHA), spoke about the importance of having an association and outlined the environmental threats and challenges facing our lakes.  Paul reported on the many research steps that are being taken to better understand the challenges in order that effective solutions can be put in place.
          <br><br>
          EMLPOA has made application to the <b>Shoreline Classification and Restoration Project</b>, also known as <b>Love Your Lake</b> which is carried out under the auspices of the CHA.  The Love Your Lake process employs two evaluators who survey each property shoreline from a boat in the lake.  The process usually takes five to ten days and involves a number of steps, culminating in a detailed report of each property and an overall review of the lake. The study results are mailed to each property owner with information on how to improve shorelines and water quality.
          A team of volunteers from residents of the lakes are one of the requirements of the study.  The team coordinates the project, provides boats, accommodation for the evaluators and office space with internet connection.  More information on Love Your Lake is available on the CHA website, cohpoa.org.
          <br><br>
          In the initial stages of the association, building our membership is our main focus. The association’s website, <b>EMLPO.ca</b> is up and running. Members are able to submit applications and fees online.
          The <b>ANNUAL MEMBERSHIP FEE is $40 for Individuals and $50 for Businesses</b>.
          <br><br>
          I know that we all want to protect our lakes, so critical to environmental sustainability and to the investment that each of us has made in our property.  Participating in <b>EMLPO</b> is an important step towards protecting what we have today and ensuring the future health of these priceless resources.  I hope that all of you will join the <b>Eagle Moose Lake Property Owners Association</b> and participate in this good work. A Membership application is attached.
          <br><br>
          We look forward to seeing you at the <b>AGM - Sunday, October 9 - Sir Sam’s Ski & Bike - 10:30 am</b>
          <br><br>
          Enjoy our beautiful fall colours!
          <br>
          <b>Laurel McCauley, President</b>

      </div>
    </div>
  </div>

</div>


<div class="bot_tag_shell">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-12 no_pad">
        <div class="bot_tag_head">To receive the benefits <br class="visible-xs">of an EMLPO <br class="hidden-xs">membership, <br class="visible-xs"><span>sign up today!</span></div>
        <a href="/memberships"><div class="bot_tag_btn">Click here to sign up</div></a>
      </div>
    </div>
  </div>
</div>
