<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12 no_pad" style="border-left:1px solid #e6e6e6; border-right:0px solid #e6e6e6;">
      <div class="slider_shell">
        <img src="/assets/home_slider_1.jpg" class="img-responsive">
      </div>
    </div>
  </div>
</div>

<div class="container container_style">
  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12 no_pad">
      <div class="home_head">
        Welcome to <span>EMLPO!</span>
      </div>
      <div class="home_body">
        The EMLPO Association advocates for the preservation of our lakes. The Association will communicate to and
educate members related to the sustainable lake environment and enjoyment of Eagle and Moose Lakes. <a href="/memberships">Register now ></a>
      </div>
    </div>

  </div>
  <div class="row">
    <div class="col-sm-4 col-md-4 col-lg-4 no_pad">
      <div class="home_col">
        <div class="home_col_img img1"></div>
        <div class="home_col_head">Annual General Meeting</div>
        <div class="home_col_body">This year’s AGM will be held at Sir Sam’s Ski Hill on October 08 at 10:30am, with coffee being served at 10:00am.</div>
        <a href="/about"><div class="home_col_btn">Learn more</div></a>
      </div>
    </div>
    <div class="col-sm-4 col-md-4 col-lg-4 no_pad">
      <div class="home_col">
        <div class="home_col_img img2"></div>
        <div class="home_col_head">Letter from the President</div>
        <div class="home_col_body">View the innaugural newsletter from Laurel McCauley, President of the EMLPO from July 2016 using the link below.</div>
        <a href="/letter"><div class="home_col_btn" style="width:120px;">View letter</div></a>
      </div>
    </div>
    <div class="col-sm-4 col-md-4 col-lg-4 no_pad">
      <div class="home_col">
        <div class="home_col_img img3"></div>
        <div class="home_col_head">Contact</div>
        <div class="home_col_body" style="margin-top:21px;">
          <div class="home_col_line">
            <a href="https://www.facebook.com/groups/eaglemooselake/" target="_blank"><div class="home_col_fb_btn">Like us on Facebook</div></a>
          </div>
          <div class="home_col_line" style="border:0; margin:0; padding-bottom:5px;">
            <a href="https://twitter.com/eaglemooselake" target="_blank"><div class="home_col_twit_btn">Follow us on Twitter</div></a>
          </div>
        </div>
        <a href="/contact"><div class="home_col_btn" style="width:150px;">Executive Contacts</div></a>
      </div>
    </div>
  </div>
</div>
<div class="bot_tag_shell">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-12 no_pad">
        <div class="bot_tag_head">To receive the benefits <br class="visible-xs">of an EMLPO <br class="hidden-xs">membership, <br class="visible-xs"><span>sign up today!</span></div>
        <a href="/memberships"><div class="bot_tag_btn">Click here to sign up</div></a>
      </div>
    </div>
  </div>
</div>
