<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12 no_pad" style="border-left:1px solid #e6e6e6; border-right:0px solid #e6e6e6;">
      <div class="section_top_img">
        <img src="/assets/res_top_img.jpg" class="img-responsive">
      </div>
    </div>
  </div>
</div>

<div class="container container_style">
  <div class="row" style="margin-top:40px;">
    <div class="col-sm-4 col-md-4 col-lg-4 no_pad">
      <div class="res_col">
        <div class="res_col_img col1"></div>
        <div class="res_col_head">Coalition of Haliburton <br class="hidden-sm hidden-xs">Property Owners Assoc.</div>
        <a href="http://www.cohpoa.org/" target="_blank"><div class="res_col_btn">View website</div></a>
      </div>
    </div>
    <div class="col-sm-4 col-md-4 col-lg-4 no_pad">
      <div class="res_col">
        <div class="res_col_img col2"></div>
        <div class="res_col_head">Healthy Shorelines <br class="hidden-sm hidden-xs">for Healthy Lakes</div>
        <a href="http://www.loveyourlake.ca" target="_blank"><div class="res_col_btn">View website</div></a>
      </div>
    </div>
    <div class="col-sm-4 col-md-4 col-lg-4 no_pad">
      <div class="res_col">
        <div class="res_col_img col3"></div>
        <div class="res_col_head">Coalition For Equitable <br class="hidden-sm hidden-xs">Water Flow</div>
        <a href="http://cewf.typepad.com/coalition_for_equitable_w/" target="_blank"><div class="res_col_btn">View website</div></a>
      </div>
    </div>
  </div>
  <div class="row" style="margin-top:-5px; border-top:1px dashed #e6e6e6; margin-bottom:-20px; width:100%;"></div>
  <div class="row" style="margin-top:40px;">
    <div class="col-sm-4 col-md-4 col-lg-4 no_pad">
      <div class="res_col">
        <div class="res_col_img col4"></div>
        <div class="res_col_head">Safe Boating Guide</div>
        <a href="http://www.tc.gc.ca/eng/marinesafety/debs-obs-menu-1362.htm" target="_blank"><div class="res_col_btn">View website</div></a>
      </div>
    </div>
    <div class="col-sm-4 col-md-4 col-lg-4 no_pad">
      <div class="res_col">
        <div class="res_col_img col5"></div>
        <div class="res_col_head">Municipality of Dysart et al.</div>
        <a href="http://www.dysartetal.ca/" target="_blank"><div class="res_col_btn">View website</div></a>
      </div>
    </div>
    <div class="col-sm-4 col-md-4 col-lg-4 no_pad">

    </div>
  </div>
</div>
<div class="bot_tag_shell">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-12 no_pad">
        <div class="bot_tag_head">To receive the benefits <br class="visible-xs">of an EMLPO <br class="hidden-xs">membership, <br class="visible-xs"><span>sign up today!</span></div>
        <a href="/memberships"><div class="bot_tag_btn">Click here to sign up</div></a>
      </div>
    </div>
  </div>
</div>
