<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12 no_pad" style="border-left:1px solid #e6e6e6; border-right:0px solid #e6e6e6;">
      <div class="section_top_img">
        <img src="/assets/about_top_img.jpg" class="img-responsive">
      </div>
    </div>
  </div>
</div>

<div class="container container_style">
  <div class="row" style="margin-top:40px;">
    <div class="col-sm-12 col-md-12 col-lg-12 no_pad">
      <div class="about_head">
        About <span>EMLPO</span>
      </div>
      <div class="about_body">
        The Eagle Moose Lake Property Owners Association is a volunteer-based community organization. The EMLPO reflects the many common interests of all lake stakeholders including cottagers, residents and businesses within
Eagle/Moose Lake region.<br><br>
The association’s Board of Directors is comprised of permanent and seasonal residents. Moose and Eagle Lake are unique to Haliburton region, combining both summer lake activities and a winter ski hill.
<br><br>
Learn more about the EMLPO through this website and attending the Annual General Meeting. If you have any questions, don’t hesitate to contact one of our board members. Welcome and thanks for choosing to become a member. We and other members really appreciate your support.

      </div>
    </div>
  </div>

</div>
<div class="container container_style_about">
  <div class="row" style="">
    <div class="col-sm-12 col-md-12 col-lg-12 no_pad">
      <div class="about_grey_img"><img src="/assets/about_square_img.jpg"></div>
      <div class="about_grey_innershell">
        <div class="about_grey_head">
          Annual <span>General Meeting</span>
        </div>
        <div class="about_grey_body">
          This year’s AGM will be held at Sir Sam’s Ski Hill on Sunday, October 9th. Coffee will be served at 10:00 am, with the meeting going from 10:30am to 12:00 pm.
        </div>
        <a href="https://goo.gl/maps/XbKv7dQVmms" target="_blank"><div class="about_grey_btn">
          View on Google Maps
        </div></a>
      </div>
    </div>
  </div>
</div>
<div class="container container_style">
  <div class="row" style="margin-top:40px;">
    <div class="col-sm-12 col-md-12 col-lg-12 no_pad">
      <div class="about_head_2">
        Eagle/Moose Lake <span>Plan Overview</span>
      </div>
      <div class="about_body_2">
        The purpose of the Lake Plan is to recognize and protect the unique character of the watershed. Ways to ensure the long-term protection, maintenance and restoration of natural, social and physical features of the watershed are recommended in the plan.
<br><br>
This web site is designed to assist in the creation and distribution of documents/tools for implementation of the Lake Plan including activities such as:

      </div>
      <div class="about_list_shell">
        <div class="about_list_line">A permanent repository for documentation</div>
        <div class="about_list_line">Facilitate easy access and update of documents</div>
        <div class="about_list_line" style="border-bottom:1px solid #e6e6e6;">Provide a community based, democratic forum for sharing information</div>
      </div>
      <div class="about_body_2">
        One goal of the Lake Plan is to Produce a Practical Stewardship Guide to encourage cottage owners, renters and others to become good stewards of the land/water by promoting awareness about the impact of their activities on water quality and the natural environment.
<br><br>
The Guide will focus on environmental stewardship and especially the importance of natural shorelines. It will include information on ‘how to’ such as:
      </div>
      <div class="about_list_shell">
        <div class="about_list_line">Reduce or eliminate laundry and dishwasher detergents containing phosphorus</div>
        <div class="about_list_line">Eliminate the use of lawn fertilizers and other garden chemicals such as pesticides and herbicides</div>
        <div class="about_list_line">Select the best of the new septic technologies or maintain an existing septic tank</div>
        <div class="about_list_line">Properly drain a hot tub</div>
        <div class="about_list_line" style="border-bottom:1px solid #e6e6e6;">Maintain and restore natural shorelines</div>
      </div>
    </div>
  </div>

</div>
<div class="bot_tag_shell">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-12 no_pad">
        <div class="bot_tag_head">To receive the benefits <br class="visible-xs">of an EMLPO <br class="hidden-xs">membership, <br class="visible-xs"><span>sign up today!</span></div>
        <a href="/memberships"><div class="bot_tag_btn">Click here to sign up</div></a>
      </div>
    </div>
  </div>
</div>
