<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12 no_pad" style="border-left:1px solid #e6e6e6; border-right:0px solid #e6e6e6;">
      <div class="section_top_img">
        <img src="/assets/con_top_img.jpg" class="img-responsive">
      </div>
    </div>
  </div>
</div>

<div class="container container_style">
  <div class="row" style="margin-top:40px;">
    <div class="col-sm-12 col-md-12 col-lg-12 no_pad">
      <div class="about_head">
        Contact <span>EMLPO</span>
      </div>
      <div class="about_body">
        A full list of the current EMLPO executive comittee is listed below along with other methods of contacting EMLPO
      </div>
      <div class="con_table_shell">
        <div class="table-responsive" style="border:0 !important;">
          <table class="table">
            <thead>
              <tr class="tr_head">
                <td>EMLPO Board Role</td>
                <td>Name</td>
                <td>Phone Number</td>
                <td>Email Address</td>
              </tr>
            </thead>
            <tbody>
              <tr class="tr_body">
                <td class="td_con_1">President</td>
                <td class="td_con_2">Laurel McCauley</td>
                <td class="td_con_3">705-754-1658</td>
                <td class="td_con_4"><a href="mailto:laurelmc@sympatico.ca">laurelmc@sympatico.ca</a></td>
              </tr>
              <tr class="tr_body">
                <td class="td_con_1">Vice-President</td>
                <td class="td_con_2">Rod McNamara</td>
                <td class="td_con_3">416-995-8331</td>
                <td class="td_con_4"><a href="mailto:rodinthebeach@gmail.com">rodinthebeach@gmail.com</a></td>
              </tr>
              <tr class="tr_body">
                <td class="td_con_1">Treasurer</td>
                <td class="td_con_2">Michelle Tatham</td>
                <td class="td_con_3">905-889-5244</td>
                <td class="td_con_4"><a href="mailto:mtatham@bell.net">mtatham@bell.net</a></td>
              </tr>
              <tr class="tr_body">
                <td class="td_con_1">Secretary</td>
                <td class="td_con_2">Mary Jowett</td>
                <td class="td_con_3">705-754-2946</td>
                <td class="td_con_4"><a href="mailto:mjow3@yahoo.ca">mjow3@yahoo.ca</a></td>
              </tr>
              <tr class="tr_body">
                <td class="td_con_1">Director</td>
                <td class="td_con_2">Armin Weber</td>
                <td class="td_con_3">416-419-7507</td>
                <td class="td_con_4"><a href="mailto:armweber@gmail.com">armweber@gmail.com</a></td>
              </tr>
              <tr class="tr_body">
                <td class="td_con_1">Director</td>
                <td class="td_con_2">Stan Novak</td>
                <td class="td_con_3">416-564-4492</td>
                <td class="td_con_4"><a href="mailto:stan.novak@medarismedical.com">stan.novak@medarismedical.com</a></td>
              </tr>
              <tr class="tr_body">
                <td class="td_con_1">Director</td>
                <td class="td_con_2">Peter McLuskey</td>
                <td class="td_con_3">705-754-1590</td>
                <td class="td_con_4"><a href="mailto:pmcl@sympatico.ca">pmcl@sympatico.ca</a></td>
              </tr>
              <tr class="tr_body">
                <td class="td_con_1">Director</td>
                <td class="td_con_2">Peter Brady</td>
                <td class="td_con_3">705-754-2658</td>
                <td class="td_con_4"><a href="mailto:peter@peterbrady.ca">peter@peterbrady.ca</a></td>
              </tr>
              <tr class="tr_body">
                <td class="td_con_1">Director</td>
                <td class="td_con_2">Michael Tatham</td>
                <td class="td_con_3">416-720-6022</td>
                <td class="td_con_4"><a href="mailto:michaeltathamsr@me.com">michaeltathamsr@me.com</a></td>
              </tr>
              <tr class="tr_body">
                <td class="td_con_1">Director</td>
                <td class="td_con_2">Wayne Lavery</td>
                <td class="td_con_3">647-242-6849</td>
                <td class="td_con_4"><a href="mailto:wlavery@patientnews.com">wlavery@patientnews.com</a></td>
              </tr>

            </tbody>
          </table>
        </div>
      </div>

    </div>

  </div>

</div>
<div class="container container_style_contact">
  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12 no_pad">
      <div class="con_grey_left">
        <div class="con_grey_left_head">Mailing <span>Address</span></div>
        <div class="con_grey_left_body"><span>Eagle Moose Lake Property Owners Association (EMLPO)</span><br>
1048 Elk Drive, Eagle Lake, 0N, K0M 1M0
</div>
      </div>
      <div class="con_grey_right">
        <div class="con_grey_line">
          <a href="mailto:info@emlpo.ca"><div class="con_grey_email_btn">info@emlpo.ca</div></a>
        </div>
        <div class="con_grey_line">
          <a href="#"><div class="con_grey_fb_btn">EMLPO on Facebook</div></a>
        </div>
        <div class="home_col_line" style="border:0; margin:0; padding-bottom:5px;">
          <a href="https://twitter.com/eaglemooselake" target="_blank"><div class="con_grey_twit_btn">@EagleMooseLake</div></a>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container container_style">
  <div class="row" style="height:40px;">
  </div>
</div>
<div class="bot_tag_shell">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-12 no_pad">
        <div class="bot_tag_head">To receive the benefits <br class="visible-xs">of an EMLPO <br class="hidden-xs">membership, <br class="visible-xs"><span>sign up today!</span></div>
        <a href="/memberships"><div class="bot_tag_btn">Click here to sign up</div></a>
      </div>
    </div>
  </div>
</div>
